@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,100;1,200&display=swap');
:root{
/*Declaring variables*/
--DARKER:#232023;
--LBLUE:dodgerblue;
--BLUE:#296d98;
--RED:#d0312d;
--WHITE:ghostwhite;
--GRAY:#494848;
--OFF-BLACK:#333;
}

*{
  box-sizing: border-box ;
}

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

#navbar{
  background-color:var(--RED);
  width:100%;
  display:flex;
  position:sticky;
  top:0;
  font-size:1.5rem;
  justify-content:flex-end;
  z-index:10;
}

#navbar a{
  padding:1rem;text-decoration:none;
  margin:auto 0.4rem;
  color:var(--WHITE);
}

#navbar a:hover, :focus{
  background-color:var(--WHITE);
  color:var(--DARKER);
}

#hb-icon{
  position: fixed;
  top: 4px;
  left: 4px;
  color: var(--DARKER);
  font-weight: bolder;
  background-color: var(--WHITE);
  border-radius: 5px;
  box-shadow: none;
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  z-index: 15;
}

#welcome-section{
  height:100vh;
  text-align:center;
  padding-top:25vh;
  background-color:var(--DARKER);
  color:var(--RED);
}

#welcome-section h1{
  color:var(--WHITE);
  font-size:4rem;
}

#welcome-section p{
  font-size:3rem;
  font-style:italic;
  font-weight:bold;
}

#about{
  background-color:var(--WHITE);
  padding:0 2rem;
  padding-bottom: 5rem;
  overflow: hidden;
  position: relative;
}

#about header{
  font-size:2rem;
  color:var(--RED);
  font-weight:bold;
  text-align:center;
  padding-top:2rem;
  padding-bottom:1rem;
  text-decoration:underline;
}

#about p{
  font-size: 1.2rem;
  z-index: 2;
}

/*styling the background of the about page*/

#about .abt-bg{
  z-index: 1;
  position: absolute;
}

#about .abt-bg:first-child{
  width: 100px;
  height: 100px;
  background-color: var(--WHITE);
  border-radius: 50%;
  border: 10px solid var(--BLUE);
  top: -40px;
  left: -40px;
}

#about .abt-bg:nth-child(2){
  width: 250px;
  height: 250px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid var(--RED);
  top: -150px;
  right: -200px;
}

#about .abt-bg:nth-child(3){
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: 8px solid var(--RED);
  bottom: -90px;
  left: -50px;
}

#about .abt-bg:nth-child(4){
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 8px solid var(--BLUE);
  bottom: 15px;
  left: 80px;
}

/*End of styling for the about page background*/

/*SORTABLE PROJECTS DIV*/

.live-preview a, .view-code a{
  text-decoration: none;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.view-code a:hover{
  border-radius: 20px;
  background-color: var(--GRAY);
}

.live-preview a:hover{
  border-radius: 20px;
  background-color: var(--BLUE);
}

.live-preview a{
  background-color: var(--LBLUE);
}

.view-code a{
  background-color: var(--OFF-BLACK);
}

.live-preview, .view-code{
  width: 48%;
  text-align: center;
}

.link-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name{
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 800;
  padding: 0.3rem;
}

.sortable-projects {
  padding: 10px;
  font-family: Arial;
}

/* Center project thumbnails */
.sortable-projects .main {
  max-width: 1000px;
  margin: auto;
}

.sortable-projects h1 {
  font-size: 50px;
  word-break: break-all;
}

.sortable-projects .row {
  margin: 10px -16px;
}

/* Adding padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 50%;
  display: none; /* Hide all elements by default */
}
 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Styling the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


#projects{
  background-color:var(--BLUE);
  padding:0 2rem;
  padding-bottom: 5rem;
}

#projects header{
  font-size:2.2rem;
  color:var(--WHITE);
  font-weight:bold;
  text-align:center;
  padding-top:2rem;
  padding-bottom:3rem;
  text-decoration:underline;
}

/*.projects-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
 align-content:center; 
 justify-content:space-around;
 max-width:100vw;
 }

.project{
 margin:1rem; background-color:var(--GRAY);
 border-radius:5px;
}

.project img{
width:400px;
height:300px;
padding:0;
margin-left:auto;
margin-right: auto;
display: block;
padding: 10px;
padding-top: 1rem;
}

.project a{
  text-decoration:none;
  color:var(--WHITE);
  font-size:1.5rem;
  margin: 0;
  font-weight:normal;
  text-align:center;
}

.project a:hover{
  font-weight: bolder;
  color: orange;
}

.project .code{
  color:transparent;
}

.project .code:hover{
  color:orange;
}

#p{
  text-align:center; 
}

#show-all {
  text-decoration:none;
  color:var(--WHITE);
  background-color:var(--GRAY);
  padding:0.7rem;
  margin-top:3rem;
  font-size:1.3rem;
  font-weight: bold;
}

#show-all:hover{
  background-color:var(--RED);
  color:var(--WHITE);
}
*/

/*Styling the contact section(footer)*/
.contact{
  height: 100vh;
  background-color: var(--DARKER);
}

.contact h1{
  margin-top: 0;
  padding-top: 35vh;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--WHITE);
}

.contact p{
  font-size: 1.2rem;
  text-shadow: 2px 2px #000;
  font-style: italic;
  text-align: center;
  color: var(--WHITE); 
}

/*This is the DIV that encloses the social icons and accounts at the bottom of the page*/
#contact-me{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact #contact-me a{
  text-decoration: none;
  text-align: center;
  color: var(--WHITE);
  font-size: 1.5rem;
  margin: 2rem;
  text-shadow: 2px 2px #000;
}

.contact #contact-me a:hover, :focus{
 text-decoration: underline;
 text-shadow: 2px 2px transparent;
}

/*This is the div nested in the contact div to act as an horizontal rule*/
#hr{
  background-color: var(--RED);
  height: 4px;
  width: 100%;
  margin-top: 6rem;
}

#f-code{
  color: var(--RED);
  text-shadow: none;
  white-space: nowrap;
}


/*Adding my media queries to make the webpage responsive*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

#navbar{
  position: sticky;
  left: 0;
  width:100%;
  font-size: 0.9rem;
  justify-content:center;
  align-items: center;
    flex-direction: row-reverse;
}

#navbar a{
  padding:0.9rem;
  margin:auto 0.1rem;
 text-transform: uppercase;
 font-weight: bold;
 display: block;
 margin-right: 0.5rem;
 border-bottom: 3px solid var(--WHITE);
}

#welcome-section{
  padding-top:25vh;
}

#welcome-section h1{
  font-size:2.5rem;
}

#welcome-section p{
  font-size:1.3rem;
}

#projects header{
  font-size:1.9rem;
  padding-bottom:2rem;
  text-decoration:none;
}

.project{
  margin:1rem; 
  background-color:sandybrown;
  border-radius:5px;
}

.projects-grid{
  grid-template-columns:auto;
 }

.project img{
  width:300px;
  height:200px;
  padding:0;
  margin-left:auto;
  margin-right: auto;
  display: block;
}

.project a{
  text-decoration:none;
  color:var(--DARKER);
  font-size:1.3rem;
  margin: 0;
  font-weight:normal;
  text-align:center;
}

.contact h1{
  padding-top: 20vh;
  font-size: 2rem;
}

.contact p{
  font-size: 0.9rem;
  text-shadow: 2px 2px #000;
   padding-bottom: 3rem;
}

#contact-me{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact #contact-me a{
  text-decoration: none;
  text-align: center;
  color: var(--WHITE);
  font-size: 1rem;
  margin: 0.4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px #000;
}

#footer #disclaimer{
  display: none;
}
}


/*This media query is meant for the mobile view of the nav */

@media only screen and (max-width: 470px){
  .btn{
    padding: 6px 10px;
    margin-bottom: 0.3rem;
  }
}


@media only screen and (max-width: 599px){
  #navbar {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 677px){
  .column{
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

#hb-icon{
  display: none;
}

#navbar{
  position: sticky;
  left: 0;
  width:100%;
  font-size: 1.6rem;
  justify-content:space-evenly;
  align-items: center;
}

#navbar a{
  padding:0.9rem;
  margin:auto 0.1rem;
 font-weight: bold;
 display: block;
 margin-right: 0.5rem;
}

#welcome-section{
  padding-top:26vh;
}

#welcome-section h1{
  font-size:3rem;
}

#welcome-section p{
  font-size:2rem;
}

#projects{
  padding:0.2rem;
  padding-bottom: 5rem;
}

#projects header{
  font-size:2rem;
  text-decoration:none;
}

.projects-grid{
  grid-template-columns:1fr 1fr;
 }

.project{
 margin:0.5rem;
}

.project img{
width:280px;
height:230px;
padding:0;
}

.project a{
  font-size:1.5rem;
}

.contact h1{
  padding-top: 25vh;
  font-size: 3rem;
}

.contact p{
  font-size: 1rem;
  text-shadow: 2px 2px #000;
}

.contact #contact-me a{
  font-size: 1.1rem;
  margin: 1.5rem;
  text-shadow: none;
}

#disclaimer{
  padding: 0rem 2rem;
}

#hb-icon{
  position: relative;
  top: -10000px;
}

}

/*These media queries controls the about page background elements*/
@media only screen and (max-width: 840px){
  #about .abt-bg:nth-child(2){
    display: none;
  }
}

@media only screen and (max-width: 420px){
  #about .abt-bg:nth-child(1){
    display: none;
  }
}

@media only screen and (max-height: 420px){
  #about .abt-bg:nth-child(2){
    display: none;
  }
}

/*End of the background controller media query*/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

#navbar{
  background-color: var(--WHITE);
  box-shadow: 2px 2px 10px #000;
}

#navbar a{
  color: var(--RED);
}

#welcome-section{
  padding-top:20vh;
}

.project{
 background-color:var(--RED);
}

.project img{
width:400px;
height:300px;
}

.contact h1{
  padding-top: 20vh;
}

#disclaimer{
  display: none;
}
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

#navbar{
  background-color:var(--RED);
  font-size:1.5rem;
}

#navbar a{
  padding:1.5rem;
  margin:auto 0.4rem;
  color:var(--WHITE);
}


#welcome-section h1{
  color:var(--WHITE);
  font-size:4rem;
}

#welcome-section p{
  font-size:3rem;
}

#projects{
  background-color:var(--BLUE);
  padding:0 2rem;
  padding-bottom: 5rem;
}

#projects header{
  font-size:2.5rem;
  color:var(--WHITE);
  font-weight:bold;
  text-align:center;
  padding-top:2rem;
  padding-bottom:3rem;
  text-decoration:none;
}

.project{
 margin:1rem; background-color:var(--GRAY);
 border-radius:5px;
}

.project img{
width:450px;
height:350px;
padding:0;
margin-left:auto;
margin-right: auto;
display: block;
}

.project a{
  text-decoration:none;
  color:var(--WHITE);
  font-size:2rem;
  margin: 0;
  font-weight:normal;
  text-align:center;
}

.contact h1{
  padding-top: 20vh;
}

#disclaimer{
  display: block;
  font-size: 1.2rem;
}

.contact h1{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--WHITE);
}

.contact p{
  font-size: 1.8rem;
  text-shadow: 2px 2px #000;
  font-style: italic;
  text-align: center;
  color: var(--WHITE); 
}

.contact #contact-me a{
  text-decoration: none;
  text-align: center;
  color: var(--WHITE);
  font-size: 1.5rem;
  margin: 2rem;
  text-shadow: 2px 2px #000;
}

#copyright{
  font-size: 1.2rem;
  font-weight: bold;
}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

#navbar{
  background-color:var(--RED);
  font-size:1.5rem;
}

#navbar a{
  padding:1.5rem;
  margin:auto 0.4rem;
  color:var(--WHITE);
}

#welcome-section h1{
  color:var(--WHITE);
  font-size:4rem;
}

#welcome-section p{
  font-size:3rem;
}

#projects{
  background-color:var(--BLUE);
  padding:0 2rem;
  padding-bottom: 5rem;
}

#projects header{
  font-size:2.5rem;
  color:var(--WHITE);
  font-weight:bold;
  text-align:center;
  padding-top:2rem;
  padding-bottom:3rem;
  text-decoration:none;
}

.project{
 margin:1rem; background-color:var(--GRAY);
 border-radius:5px;
}

.project img{
width:550px;
height:450px;
padding:0;
margin-left:auto;
margin-right: auto;
display: block;
}

.project a{
  text-decoration:none;
  color:var(--WHITE);
  font-size:2rem;
  margin: 0;
  font-weight:normal;
  text-align:center;
}

.contact h1{
  padding-top: 20vh;
}

#disclaimer{
  display: block;
  font-size: 1.2rem;
}

.contact h1{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--WHITE);
}

.contact p{
  font-size: 1.8rem;
  text-shadow: 2px 2px #000;
  font-style: italic;
  text-align: center;
  color: var(--WHITE); 
}

.contact #contact-me a{
  text-decoration: none;
  text-align: center;
  color: var(--WHITE);
  font-size: 1.5rem;
  margin: 2rem;
  text-shadow: 2px 2px #000;
}

#copyright{
  font-size: 1.2rem;
  font-weight: bold;
}

}